.u-section-1 .u-sheet-1 {
  min-height: 276px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin-bottom: 60px;
  margin-left: 0;
  margin-right: auto;
}.u-section-2 .u-sheet-1 {
  min-height: 610px;
}

.u-section-2 .u-image-1 {
  width: 742px;
}.u-section-3 .u-sheet-1 {
  min-height: 5152px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  margin: 31px -1px 0;
}

.u-section-3 .u-image-1 {
  width: 480px;
  height: 300px;
  margin: -2970px auto 0 90px;
}

.u-section-3 .u-image-2 {
  width: 480px;
  height: 300px;
  margin: -600px auto 0;
}

.u-section-3 .u-image-3 {
  width: 480px;
  height: 300px;
  margin: 0 90px 0 auto;
}

.u-section-3 .u-image-4 {
  width: 480px;
  height: 300px;
  margin: -1769px auto 0;
}

.u-section-3 .u-image-5 {
  width: 480px;
  height: 300px;
  margin: 2430px auto 0 90px;
}

.u-section-3 .u-image-6 {
  width: 480px;
  height: 300px;
  margin: -300px 103px 0 auto;
}

.u-section-3 .u-image-7 {
  width: 480px;
  height: 300px;
  margin: 307px auto 0;
}

.u-section-3 .u-image-8 {
  width: 480px;
  height: 300px;
  margin: 0 90px 0 auto;
}

.u-section-3 .u-image-9 {
  width: 480px;
  height: 300px;
  margin: -300px auto 0 90px;
}

.u-section-3 .u-image-10 {
  height: 490px;
  margin-top: 533px;
  margin-bottom: 56px;
}

@media (max-width: 767px) {
  .u-section-3 .u-image-1 {
    margin-left: 60px;
  }

  .u-section-3 .u-image-3 {
    margin-right: 60px;
  }

  .u-section-3 .u-image-5 {
    margin-left: 60px;
  }

  .u-section-3 .u-image-6 {
    margin-right: 60px;
  }

  .u-section-3 .u-image-8 {
    margin-right: 60px;
  }

  .u-section-3 .u-image-9 {
    margin-left: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 4369px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 213px;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 213px;
    margin-top: -513px;
  }

  .u-section-3 .u-image-3 {
    width: 340px;
    height: 213px;
    margin-right: 0;
  }

  .u-section-3 .u-image-4 {
    width: 340px;
    height: 213px;
    margin-top: -1682px;
  }

  .u-section-3 .u-image-5 {
    width: 340px;
    height: 213px;
    margin-left: 0;
  }

  .u-section-3 .u-image-6 {
    width: 340px;
    height: 213px;
    margin-top: -213px;
    margin-right: 0;
  }

  .u-section-3 .u-image-7 {
    width: 340px;
    height: 213px;
  }

  .u-section-3 .u-image-8 {
    width: 340px;
    height: 213px;
    margin-right: 0;
  }

  .u-section-3 .u-image-9 {
    width: 340px;
    height: 213px;
    margin-top: -213px;
    margin-left: 0;
  }
}